.container {
    color: #363e3e;
    background-color: #eaf0f0;
    overflow: scroll;
    height: 200px;
    width: 90%;
    text-align: top;   
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;
    resize: none;
    overflow: auto;
    border: none;
    border: 1px solid #eaf0f0;
}
.container:hover {
    border: 1px solid #363e3e;
}
.container:focus {
    border: 1px solid #363e3e;
}