.container {
    width: 500px;
    height: 250px;
    background-color: #eaf0f0;
    border-radius: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
    box-shadow: 0px 5px 10px -5px #363e3e;
    overflow: hidden;
}
.cardUser {
    color: #363e3e;
    text-decoration-style: solid;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;  
    margin-top: 0px;   
}
.cardTitle {
    color: #363e3e;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
}
.cardTitle:hover {
    text-decoration-line: underline;
}
.cardText {
    color: #9ca6a9;
    font-size: 15px;
    height: 60px;
    text-align: justify;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    width: 460px;
}
.cardTextAuto {
    color: #9ca6a9;
    font-size: 15px;
    height: auto;
    text-align: justify;
    margin-top: 3px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}
.lineButtonsAndUser {
    height: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction : row;
}
.userAndButtonsContainer {
    height: 100px;
    margin-top: 20px;
    align-items: flex-end;
    margin-right: 20px;
}
.buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.buttonsEditContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 165px;
    height: 100%;
    bottom: 23px;
    right: 0px;
}
.withoutUserContainer {
    width: 500px;
    height: 250px;
    background-color: #eaf0f0;
    border-radius: 20px;
    
    margin-top: 25px;
    justify-content: space-between;
    box-shadow: 0px 5px 10px -5px #363e3e;
    overflow: hidden;
}
.categoriesContainer {
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;  
}