.container {
    background-color: #eaf0f0;
    width: 100%;
    display : flex;
    flex-direction : row;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 5px 10px -5px #363e3e;
    cursor: pointer;
}
.container:hover {
    background-color: #cfd4d4;
    transition: 0.2s;
}
.buttonFileContainer {
    background-color: #eaf0f0;
    width: 70%;
    display: flex;
    flex-direction : row;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px;
}
.buttonDeleteFile {
    padding: 0px;
    justify-content: center;
    text-align: center;
    background-color: none;
}
.text {
    outline: none;
    width: 85%;
}