.buttonContainer {
    padding: 10px;
    justify-content: center;
    text-align: center;
    background-color: none;
    border-radius: 7px;
    cursor: pointer;
}
.buttonContainer:hover {
    background-color: #cfd4d4;
}