.likeBtn {
    background-color: none;
}
.container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.numberLike {
    color: black;
    margin-right: 5px;
}