.likeBtn {
    background-color: none;
}
.container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.numberLike {
    color: #363e3e;
    margin-right: 5px;
}