.centerContent {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 3%;
}
.cardContainer {
    width: 98%;
    height: 98%;
    background-color: #eaf0f0;
    border-radius: 20px;
    overflow: scroll;
}
.resourceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 550px;
    background-color: #eaf0f0;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px -5px #363e3e;
}
.btnFile{
    justify-content: center;
    width: 25%;
    margin-top: 0;
    margin-left: 5%;
}
.validationTitle {
    color: #363e3e;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    text-decoration-line: underline;
    width: 100%;
}
.validationsContainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 600px; 
    width: 50%;
}
.button {
    box-shadow: 0px 5px 10px -5px #363e3e;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #03989E;
    outline: none;
    text-decoration: none;
    color: #f7fbfc;
    margin-top: 30px;
    margin-right: 30px;
}
.button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px -5px #363e3e;
}