.container {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}
.addNameResource {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    height: 40px;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.sendButton {
    width: 140px;
    height: 45px;
    justify-content: center;
    background-color: grey;
    margin-top: 20px;
    border-radius: 15px;
    transition: 0.2;
}
.categorieList {
    margin-Right: 10px;
    width: 70%;
    display: flex;
    flex-direction: row;
}
.categorieContainer {
    margin-top: 20px;
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: row;
}
.addCategorieContainer {
    margin-right: 5px;
}
.addCategorieText {
    background-color: grey;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-top: 2px;    
    border-radius: 15px;
    text-align: center;
}
.switchContainer {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.sendButtonContainer {
    height: 100px;
}