.spinner {
    justify-content: center;
    align-items: center;
}
.formContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
}
.form {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f6fafb;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    width: 100%;
    height: 500px;
    box-shadow: 0px 10px 50px -10px #CCCCCC;
}
.header {
    text-align: center;
    font-weight: bold;
}
.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px;
}
.label {
    width: 100%;
    color: #808080;
}
.input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 10px 50px -10px #CCCCCC;
    border: none;
    outline: none;
    border-bottom: 2px solid #EEEEEE;
    transition: 0.2s;
    height: 30px;
}
.input:hover {
    border-bottom: 2px solid #03989E;
}
.button {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 5px;
    width: 20%;
    transition: 0.2s;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #03989E;
    color: #f6fafb;
}
.button:hover {
    transform: translateY(-5px);
    box-shadow : 0px 10px 50px -10px #CCCCCC;
}