.centerContent {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 3%;
}
.resourceAttachmentContainer {
    width: 276px;
    height: 55px;
    background-color: #eaf0f0;
    border-bottom: 2px;
    border-color: grey;
    border-radius: 15px;
}
.cardContainer {
    width: 98%;
    height: 98%;
    background-color: #eaf0f0;
    border-radius: 20px;
    overflow: scroll;
}
.resourceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 550px;
    background-color: #eaf0f0;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px -5px #363e3e;
}
.lineLikeAndUser {
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    display:flex;
    flex-direction: row;
}
.commentsContainer {
    justify-content: center;
    width: 25%;
    margin-top: 0;
    margin-left: 5%;
}
.commentTitle {
    color: #363e3e;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    text-decoration-line: underline;
}
.btnFile {
    display: grid;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 600px;
    padding-bottom: 100px;
}